*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    flex: 1; /* Faz o main crescer para ocupar o espaço restante */
    padding: 20px;
    height: 100%;
    margin-top: 90px;
    margin-bottom: 80px;
}


main h2 {
    text-align: center;
    color: #333;
}

.icon-back-page {
    font-size: 1.8rem;
    margin-top: 5px;
    margin-left: 10px;
}

.icon-back {
    color: #333;
}

.card {
    margin: 20px;
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c0b5b5;
    margin-bottom: 30px;
}

.card input {
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.col-1-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-1-btn button {
    padding: 10px;
    border: none;
    margin-top: 10px;
    background-color: #c5c1c1;
    color: #333;
    border-radius: 3px; 
    cursor: pointer;
    width: 100%;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}