/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}
nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos do main */
main {
    flex: 1;
    padding: 20px;
    margin-top: 80px; /* Ajustado para a altura do header */
}

main h2 {
    text-align: center;
    color: #333;
}


.icon-back-page {
    font-size: 2rem;
    margin-bottom: 20px;
}

.icon-back {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-back .bi-arrow-left {
    font-size: 1.5rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}


section {
    margin: 0 auto;
    max-width: 600px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input:focus, .form-group select:focus {
    border-color: #333;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.form-group button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .header-restaurante h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
    }
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .icon-back i {
        font-size: 20px;
    }

    main {
        margin-top: 170px;
    }
}

@media (max-width: 480px) {
    .form-group input, .form-group select {
        padding: 8px;
    }

    .form-group button {
        padding: 8px;
        font-size: 0.9em;
    }
}
