/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}
nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos do main */
main {
    flex: 1;
    padding: 20px;
    margin-top: 80px; /* Ajustado para a altura do header */
}

main h2 {
    text-align: center;
    color: #333;
}


.icon-back-page {
    font-size: 2rem;
    margin-bottom: 20px;
}

.icon-back {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-back .bi-arrow-left {
    font-size: 1.5rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* Estilos do form */
form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    background-color: #fff;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: normal;
    margin-bottom: 5px;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    outline: none;
    border-color: #c5c1c1;
}

button {
    background-color: #c5c1c1;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b0a8a8;
}

/* Estilos do footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .icon-back-page {
        font-size: 1.5rem;
    }

    main {
        padding: 15px;
    }

    form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    fieldset {
        margin-top: 40px;
    }

    .form-group input, 
    .form-group select, 
    .form-group button {
        width: 100%;
        padding: 8px;
    }
}
